.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
.travis.yml
appveyor.yml
coverconfig.json
publish_coverage.sh
.github/**
.nyc_output/**
coverage/**
images/**
!images/icon.png
tslint.json
dist/**.map
node_modules/**
webpack.config.js